$body-color-bg: #FFFFFF;
$body-color-content: #FFFFFF;
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 14px;
$base-font-weight: 400;
$base-line-height: $font-size-base * 1.6;

$header-color-bg: #FFFFFF;
$header-color-content: #692733;

$font-size-small: $font-size-base - 2px;
$font-size-smallish: $font-size-base - 1px;
$font-size-big: $font-size-base + 4px;

$text-color-muted: #999;

$link-color: $header-color-content;
$button-color-bg: $header-color-bg;
$button-color-content: #444;