$body-color-bg: #F1F1F1;
$body-color-content: #FFFFFF;
$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size: 14px;
$base-font-weight: 400;
$base-line-height: $base-font-size * 1.6;

$header-color-bg: #54ADBD;
$header-color-content: #FFFFFF;

$font-size-small: $base-font-size - 2px;
$font-size-smallish: $base-font-size - 1px;
$font-size-big: $base-font-size + 4px;

$text-color-muted: #999;

$link-color: $header-color-bg;
$button-color-bg: $header-color-bg;
$button-color-content: #FFF;