@import "reset";
@import "variables";

#tbackground {
  background-color: $body-color-bg;
  color: #333;

  td {
    font-family: $base-font-family;
    font-size: $font-size-base;
    font-style: normal;
    font-variant: normal;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    -webkit-font-smoothing: antialiased;
  }
}

.text-muted {
  color: $text-color-muted;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

h1 {
  margin: 0 0 5px;
  font-size: $font-size-big;
  font-weight: bolder;
  line-height: $font-size-big * 1.2;
  text-transform: uppercase;
}

blockquote {
  font-style: italic;
}

.alert {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #faebcc;
  border-radius: 3px;
  background-color: #fcf8e3;
  color: #8a6d3b;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: $font-size-base - 1px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  text-transform: none;
}

  .label-default {
    background-color: #999;
  }

  .label-warning {
    background-color: #f0ad4e;
  }

p {
  margin: 0;
  padding-top: $font-size-base / 2;
  padding-bottom: $font-size-base / 2;
}

a {
  color: $link-color;
}

img {
  max-width: 100%;
  height: auto;

  &.img-thumbnail {
    padding: 3px;
    border: solid 1px #ccc;
    border-radius: 3px;
  }
}

.btn {
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-color: $button-color-bg;
  color: $button-color-content;
  text-decoration: none;
  text-transform: uppercase;
  border: solid 1px darken(white, 15%);
  border-radius: 2px;
  font-weight: bold;

  &:hover {
    border-color: darken(white, 25%);
    background-color: darken(white, 5%);
  }
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

#theader {
  background-color: $header-color-bg;
  color: $header-color-content;
  border-bottom: solid 1px darken($header-color-bg, 10%);
}

  #hlogo {
    color: $header-color-content;

    td {
      font-size: $font-size-base * 1.25;
      font-weight: 700;
      line-height: $font-size-base * 1.25;

      small {
        font-size: $font-size-smallish;
        font-weight: $base-font-weight;
        letter-spacing: 0;
      }
    }
  }

  #hlinks {
    td {
      font-size: $font-size-smallish;
      text-align: right;

      a {
        margin-left: 12px;
        color: $header-color-content;
        text-decoration: none;

        &:first-child { margin-left: 0; }
      }
    }
  }

#tcontent {
  background-color: $body-color-content;
}

  #cheader {
    text-align: center;
  }

#ccontent {
  &.text-left td {
    text-align: left;
  }

  &.text-right td {
    text-align: right;
  }
}

#tfooter {
  // background-color: darken($body-color-bg, 7%);
  color: darken($body-color-bg, 60%);
  border-top: solid 1px darken($body-color-bg, 10%);

  td {
    font-size: $font-size-smallish;
    line-height: $font-size-smallish * 1.4;
  }

  a {
    color: darken($body-color-bg, 50%);
  }
}
