.alert.alert-info.alert-dismissable
  %button{ type: :button, class: 'close', aria_hidden: true, data: { dismiss: 'alert' }} &times;
  %p
    Haga click en el bloque de una página y arrastrelo verticalmente para indicar el orden de visualización en la sección de navegación. Cuando esté sobre la posición deseada, suelte el item en dicha región y el orden se guardará automaticamente.

  %p Una vez haya terminado, apreté el botón azul en la sección superior para volver a la visualización normal.