= simple_form_for [ :admin, @position ] do |f|
  = f.input :name

  .form-group.form-actions
    .col-xs-9.col-xs-offset-3
      = f.button :submit, class: 'btn btn-primary', data: { disable_with: 'Enviando...' }