@import "site/variables"

header[role="main"]
  .events-show h1
    font-size: 3*$font-size-base
    line-height: 1.15*3*$font-size-base

li.event
  h2
    margin-top: 0
    margin-bottom: 5px

  .event-promoter
    display: block
    margin-bottom: 5px
    font-size: $font-size-large
    color: $text-muted

  .event-date
    display: block
    font-size: $font-size-large
