@import "site/variables"

article.event
  &.event-charla::before
    background-image: image-url("events/charla.jpg")

  &.event-congreso::before
    background-image: image-url("events/congreso.jpg")

  &.event-curso::before
    background-image: image-url("events/curso.jpg")

li.event
  h2
    margin-top: 0
    margin-bottom: 5px

  .event-promoter
    display: block
    margin-bottom: 5px
    font-size: $font-size-large
    color: $text-muted

  .event-date
    display: block
    font-size: $font-size-large
