@import "site/variables"

.list-moments
  padding-left: 0
  list-style: none

  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: flex-start

  & > li
    display: inline-block
    margin-bottom: 20px
    max-width: 300px

    img
      max-width: 300px
      max-height: 300px
      border-top-right-radius: 5px
      border-top-left-radius: 5px
      opacity: 0.9

    .moment-body
      padding: 20px
      border: solid 1px #dedede
      border-top: none
      border-bottom-right-radius: 5px
      border-bottom-left-radius: 5px

    .caption
      margin-bottom: 0

    a:hover
      img
        opacity: 1
