%ul.publications
  - collection.group_by(&:year).each do |year, pubs|
    %li.publication-group
      %h2{ id: year }
        = year
        %small= pluralize pubs.count, 'publicación', 'publicaciones'

    = render pubs