- if collection.any?
  %ul.list-publications
    - collection.group_by(&:year).each do |year, pubs|
      %li.list-heading
        %h2= year

      = render pubs

      %li.list-footer
        = link_to fa_icon('long-arrow-up', text: 'Back to top'), '#content', class: 'gotop'

  %p.text-muted.text-right
    %small
      Last updated
      = distance_of_time_in_words_to_now Publication.select(:updated_at).unscoped.order(updated_at: :desc).collect(&:updated_at).first
      ago
- else
  %p.lead
    No publications were found.
    %br
    %small.text-muted
      Perhaps someone forgot to import them, or we are just starting up.