<article role="main">
  <% if defined? user %>
    <%= render 'users/header', user: user %>
  <% else %>
    <header>
      <h1>
        <small>Investigación</small>
        <br>
        Publicaciones
      </h1>
    </header>
  <% end %>

  <section>
    <% if publications.any? %>
      <%= render 'publications/collection', collection: publications %>
    <% else %>
      <p class="lead text-muted text-center">
        Oops... no hay publicaciones para mostrar
      </p>
    <% end %>
  </section>
</article>
