- provide :jumbotron do
  = render 'users/scope'
  %h1= @thesis.title

- provide :sidebar, render('theses/sidebar/show')

%h2 Resumen
- if @thesis.abstract.present?
  .content= @thesis.abstract.html_safe
- else
  %p.lead.text-muted No hay un resumen disponible.

- if @thesis.notes.present?
  %h2 Notas
  .content= @thesis.notes.html_safe
