- if @moments.any?
  %ul.list-group
    = render @moments
- else
  .text-center
    %p.lead No se han agregado momentos aún.
    = link_to fa_icon('camera', text: 'Suba una foto'), new_admin_moment_path, class: 'btn btn-primary'
