<% collection.group_by(&:position).each do |position, users| %>
<h2><%= position.name.pluralize_each users.count, :'es-CL' %></h2>
<ul class="media-list media-list-two-column">
  <%= render partial: 'users/user', collection: users, locals: { show_position: false } %>
</ul>
<% end %>
