- grouped_collection = collection.sorted.group_by(&:position)

- provide :sidebar_top do
  - needs_separator = false
  %ul.stats.stats-stacked
    - grouped_collection.each do |position, collection|
      - next if position.single?
      - count = collection.count
      %li.stat
        .shelf
          %span.stat-number= count
        %span.stat-label
          = position.name.split.map { |n| n.pluralize count, :'es-CL' }.join ' '
      - needs_separator = true
  - if needs_separator
    %hr

%ul.media-list.user-list
  - grouped_collection.each_with_index do |content, i|
    -# %h2= position.name.split.map{ |n| n.pluralize :'es-CL' }.join ' '
    = content_tag :hr if i > 0
    = render content[1]
