%p.lead.text-muted
  = params[:controller].classify.constantize.model_name.human.pluralize(:'es-CL').titleize
  de
  = autosizing_image_tag display_user_image_url(@user), size: 28, class: 'img-circle'
  = link_to @user do
    = @user.display_name