%nav.sidebar-nav
  %h2 Ir a la sección

  %ul.nav.nav-pills.nav-stacked
    = content_tag :li, link_to('Publicaciones', [ @user, :publications ]) if @user.publications.any?
    = content_tag :li, link_to('Proyectos', [ @user, :projects ]) if @user.projects.any?

    - if @user.pages.any?
      %hr
      - @user.pages.each do |page|
        %li= link_to page.title, [ @user, page ]

- if @user.settings.show_contact_page
  %hr
  = mail_to @user.email, 'Contactar', class: 'btn btn-default btn-block'