%article{ role: 'main' }
  = render 'users/header'

  - if user.bio.present?
    %section.content
      = user.bio.html_safe

  - if user.thesis.present?
    %section#thesis
      %h2 Mi memoria de tesis
      %ul.media-list
        = render user.thesis

  - if @user_pubs.any?
    %section#publications
      %h2 Publicaciones destacadas
      %ul.list-unstyled
        = render @user_pubs
