<div class="user">
  <%= speaker.avatar %>

  <div class="user__body">
    <div class="user__title">
      <%= speaker.link class: 'user__link' %>
    </div>
    <p class="user__headline"><%= speaker.description %></p>
    <p class="user__headline"><i><%= speaker.institution %></i></p>
  </div>
</div>
