.container
  %header
    %h1 Eventos
    = render 'events/nav'

  - if events.any?
    %ul.media-list.media-list-two-column
      = render events
  - else
    %p.lead.text-muted.text-center
      Oops... no hay eventos para mostrar
    %p.text-muted.text-center
      Volver
      = link_to 'atrás', :back
      o a la
      = link_to 'sección inicial', events_url
