<div class="container container-narrow">
  <%= render 'events/header' %>

  <section class="content">
    <% if posts.any? %>
      <ul class="list-flex list-flex-col list-flex-col-2">
        <%= render posts %>
      </ul>
    <% else %>
      <p class="lead text-muted text-center">
        Oops... no hay noticias para mostrar
      </p>
    <% end %>
  </section>
</div>
