<div class="container container-narrow banner event-bg event-<%= event.event_type %>">
  <%= render 'events/header', event: event, show_nav: false, show_actions: false, show_info: false %>

  <div class="content">
    <h2>Registro como asistente</h2>
    <p>Para inscripción, favor rellenar el formulario con su información personal.</p>
    <p>
      Dentro de los próximos días recibirá un mensaje en la dirección de
      correo indicada confirmando la aceptación o rechazo de su participación en
      el evento.
    </p>

    <%= render 'registration_form' %>
  </div>
</div>
