%article{ role: 'main', class: "event event-#{@event.event_type}" }
  = render 'events/header', event: @event

  %section.content
    = content_tag :p, image_tag(@event.picture) if @event.picture.present?
    = @event.description.html_safe
