- provide :widget do
  = link_to fa_icon('plus', text: I18n.t(:new, scope: 'views.admin.projects.buttons')), new_admin_project_path, class: 'btn btn-primary'

- if @projects.any?
  %ul.list-group.list-group-projects
    = render @projects
- else
  %p.lead.text-muted.text-center= t :empty, scope: 'views.admin.projects.placeholders'