- provide :jumbotron do
  = render 'users/scope', label: 'Contenido de' if @user
  %h1{ id: @page.title.parameterize }= @page.title
- provide :banner_url, @page.banner.url if @page.banner.present?

- content = parse_content @page.body
- provide :sidebar, render('sidebar', content: content)
- provide :content, true

= toc_html_headings content