<% provide :jumbotron do %>
  = render 'users/scope', label: 'Contenido de' if @user
<% end %>
<% provide :banner_url, page.banner.url if page.banner.present? %>

<article role="main">
  <% if page.owner.present? %>
    <%= render 'users/header', user: page.owner %>
  <% else %>
    <header>
      <h1><%= page.title %></h1>
    </header>
  <% end %>

  <section class="content">
    <%= image_tag page.banner.url, alt: page.title unless page.banner.blank? %>
    <%= parse_content page.body %>
  </section>
</article>
