- provide :jumbotron do
  %h1{ id: @page.title.parameterize }= @page.title
- provide :banner_url, @page.banner.url

.row
  .col-xs-8.content
    - content = parse_content @page.body
    = toc_html_headings content

  = render 'sidebar', content: content
