- provide :jumbotron do
  = render 'users/scope'
  %h1= @project.title

- provide :sidebar, render('projects/sidebar/show')
- provide :banner_url, @project.image_url

- unless @project.description.blank?
  %section.content
    = markdown @project.description