.table
  background-color: $body-color-content

  th
    font-weight: $font-weight-regular
    background-color: whitesmoke

  td
    vertical-align: middle
    background-color: white
    
    .handle
      display: inline-block
      cursor: move