.list-group-item-publication
  position: relative
  padding-top: 15px
  padding-right: 43px + 15px*2
  padding-bottom: 15px

  font-weight: $font-weight-regular

  &:hover
    background-color: #FFFFF9

  &.without-actions
    padding-right: 15px

  &,
  .list-group-item-heading
    font-family: 'Helvetica Neue', Arial, sans-serif

  .list-group-item-heading
    margin: 0
    font-size: $base-font-size
    line-height: $base-font-size * 1.15
    font-weight: $font-weight-bold
    color: #064361

  .list-group-item-actions
    position: absolute
    top: 15px
    right: 15px
    bottom: 15px
    width: 43px

    .btn
      padding: 2px 8px

    .pull-right
      position: absolute
      bottom: 0
      float: none

  .list-group-item-action-toggle-flag
    color: lighten($gray-light, 20%)

    &:hover
      color: $gray-light

    &.active
      color: darken(yellow, 4%)

  .list-group-item-meta
    font-size: $font-size-small

    .publication-journal
      color: green
      font-style: italic

    .publication-year
      color: #064361
      font-weight: $font-weight-bold

  .publication-authors
    margin-top: 2px
    list-style: none

    &,
    & > li
      padding: 0
      font-size: $font-size-small
      line-height: 1.4*$font-size-small

    & > li
      display: inline
      color: $text-muted

      &:after
        content: ";"

      &:last-child:after
        content: ""

      .popover
        color: $text-color
        ol
          padding-left: 20px

// Importation states
.list-group-item-publication
  &.linked,
  &.ignored,
  &.invalid
    padding-right: 2*15px + $font-size-icon
    &:after
      display: block
      position: absolute
      top: 50%
      right: 15px
      margin-top: -$font-size-icon / 2
      width: $font-size-icon
      font-family: FontAwesome
      font-size: $font-size-icon
      font-style: normal
      font-weight: normal
      line-height: $font-size-icon

  &.linked
    border-color: $alert-success-text
    &:after
      content: "\f00c"
      color: green

  &.ignored
    border-color: $text-muted
    &:after
      content: "\f070"
      color: $text-muted

  &.invalid
    border-color: $alert-danger-text
    &:after
      content: "\f06a"
      color: $alert-danger-text
