.panel.panel-default
  .panel-heading
    Información de contacto
  .panel-body
    = render @contact

= link_to fa_icon('long-arrow-left', text: 'Volver a Contactos'), admin_contacts_path, class: 'btn btn-link'