.panel.panel-default
  .panel-heading
    Contact Information
  .panel-body
    = render @contact

= link_to fa_icon('long-arrow-left', text: 'Go back to Contacts'), admin_contacts_path, class: 'btn btn-link'