- if @posts.any?
  %ul.list-group.list-group-posts
    = render @posts
- else
  .panel.panel-default
    .panel-heading
      - i18n_scope = 'views.admin.posts.placeholders.empty'
      %h3.panel-title= t :title, scope: i18n_scope
      
    .panel-body
      %p= t :body, scope: i18n_scope

      = link_to t(:start_post, scope: 'views.admin.posts.buttons'), new_admin_post_path, class: 'btn btn-primary'