<p class="h4">Contacto</p>
<address>
  Uno poniente 1141
  <br/>
  Universidad de Talca
  <br/>
  Talca, Chile
  <br/>
  <br/>

  <strong>Teléfono/Fax</strong>
  <br/>
  (+56 71) 2 418 841
</address>

<strong>Envíenos su consulta a</strong>
<%= mail_to @group.email %>
