%h5 Contacto
%address
  2 norte 685
  %br
  Universidad de Talca
  %br
  Talca, Chile
  %br
  %br

  %strong Teléfono/Fax
  %br
  (+56 71) 2 201 733

%strong Envíenos su consulta a
= mail_to @group.email