.jumbotron
  .container
    %h2 Haciendo ciencia desde Talca, Chile
    = markdown @group.overview
    %footer.widget-footer
      = btn_to 'Leer más sobre el doctorado', page_path(:presentacion), class: 'btn-lg', primary: true