%h4.footer-heading Últimas Publicaciones
%ul.publications
  = render @lastest_publications
= btn_to 'Ver más sobre investigación', page_path(:investigacion), block: true if Page.named?(:investigacion)