- width, height, padding = 600, 60, 20
- wleft, wright = 350, 250

= mtable_tag id: 'theader', align: 'center', width: width do
  %tr
    %td
      / Logo
      = mtable_tag id: 'hlogo', width: wleft, align: 'left' do
        = tspace_h padding
        %td{ width: wleft - padding/2, height: height, valign: 'middle' }
          Doctorado en Ciencias Mención Modelado de Sistemas Químicos y Biológicos
          %br
          %small.text-muted Universidad de Talca, Chile
      / End of logo
