.widget
  %h2.widget-title
    %span.highlight Momentos
    Recientes

  %ul.media-list
    - @recent_moments.each do |moment|
      %li
        - moment_footer = capture do
          = link_to moment_permalink(moment), class: 'magnifiable' do
            = autosizing_image_tag moment.photo.url(:medium), class: 'moment-photo'
        = render 'moments/moment_meta', moment: moment, time_format: :short, footer: moment_footer

  %footer.widget-footer
    = btn_to 'Ver todos los momentos', moments_path, block: true