.widget
  %h2.widget-title
    Últimas
    %span.highlight Noticias

  %ul.media-list
    - @lastest_posts.each do |post|
      = render 'posts/post_alt', post: post

  %footer.widget-footer
    = btn_to 'Ver todas las noticias', posts_url, block: true