- if @lastest_theses.any?
  .widget
    %h2.widget-title
      %string
        Últimas
        %span.highlight tesis

    %ul.media-list.theses
      = render @lastest_theses

    %footer.widget-footer
      = btn_to 'Ver todas las tesis', theses_path, block: true