%section{ role: 'content' }
  .container
    - if content_for?(:sidebar)
      .row
        .col-xs-8= yield
        %aside.col-xs-4{ role: 'sidebar' }
          .container{ data: { spy: 'affix', offset_top: 227, offset_bottom: 100 }}
            = yield :sidebar
            = yield :sidebar_footer
    - else
      = yield