%section.nav{ role: 'navigation' }
  %header.nav-brand
    %span.top Doctorado
    %span.middle en Ciencias Aplicadas
    = link_to 'Universidad de Talca', 'http://www.utalca.cl', class: 'bottom'

  %ul.nav-list
    - Page.navigable.each do |page|
      %li
        - href = page_path(page)
        - classes = [ 'nav-item' ]
        - classes << 'active' if current_page?(href)
        = link_to page.title, href, class: classes.join(' ')
    %li= link_to 'Contacto', '#', class: 'nav-item'

    - unless current_page?(root_url)
      %li= link_to fa_icon('reply', text: 'Ir al inicio'), root_url, class: 'nav-item-link'

  %footer.nav-footer
    %p
      &copy;
      %strong Copyrights 2014
    %p
      Doctorado en Ciencias Aplicadas
      %br
      Universidad de Talca