%section.nav{ role: 'navigation' }
  %header.nav-brand
    %span.top Doctorado
    %span.middle en Ciencias Aplicadas
    = link_to 'Universidad de Talca', 'http://www.utalca.cl', class: 'bottom'

  %ul.nav-list
    - items = [ :about, :prospective_students, :academics, :students, :research, :contact ]
    - items.each do |item|
      %li= link_to item.to_s.titleize, '#', class: 'nav-item'

  %footer.nav-footer
    %p
      &copy;
      %strong Copyrights 2014
    %p
      Doctorado en Ciencias Aplicadas
      %br
      Universidad de Talca