<div class="showcase">
  <%= image_tag 'utalca-logo--white', width: "100" %>
  <h1>Doctorado en Ciencias Aplicadas</h1>
  <p class="lead">
    Facultad de Ingeniería e Instituto de Química de Recursos Naturales
  </p>
</div>
