.showcase
  .card
    .frame
      %span.card-title Productividad
      %span.card-count
        = @publication_count
        %span.footnote Artículos
      .card-description
        %p Durante este año con un total de 8.3 por año
        = link_to 'Ver más', '#'

  .card
    .frame
      %span.card-title Productividad
      %span.card-count
        = @publication_count
        %span.footnote Artículos
      .card-description
        %p Durante este año con un total de 8.3 por año
        = link_to 'Ver más', '#'