<div class="showcase">
  <%= image_tag 'utalca-logo--white.png', width: "64" %>
  <h2 style="margin-bottom: 0;">Doctorado en Ciencias Mención</h2>
  <h1 style="margin-top: 0;">Modelado de Sistemas Químicos y Biológicos</h1>
  <p class="lead">
    Facultad de Ingeniería
  </p>

  <%= render 'site/nav/icons' %>
</div>
