%nav.posts-nav
  %ul.nav.nav-pills.nav-justified
    %li{ class: ('active' if current_page?(posts_path)) }
      = link_to 'Todo', posts_path

    - today = DateTime.current.to_date
    - date_from, date_to = today.advance(months: -9), today
    - (date_from..date_to).time_step(1.month) do |date|
      - format = date == date_from || date == date_to ? :abbr : :month
      - content = l date, format: format
      - path_options = { year: date.year, month: date.month }
      - href = posts_path(path_options)
      %li{ class: ('active' if current_page?(href)) }
        = link_to content, href