.container
  %header
    %h1 Noticias

  - if @posts.any?
    %ul.media-list.media-list-two-column= render posts
  - else
    %p.lead.text-muted.text-center
      Oops... no hay noticias para mostrar
    %p.text-muted.text-center
      Volver
      = link_to 'atrás', :back
      o a la
      = link_to 'sección inicial', posts_url
