.container
  %header
    %h1 Noticias
    %nav
      - today = DateTime.current.to_date
      = nav_date_widget today.advance(months: -9), today, :posts_path

  - if @posts.any?
    %ul.media-list.media-list-two-column= render posts
  - else
    %p.lead.text-muted.text-center
      No se encontraron noticias escritas durante este periodo
    %p.text-muted.text-center
      Seleccione otro periodo o vuelva a la
      = link_to 'sección inicial', posts_url
