%ul.list-unstyled
  - [ :new_linked, :existing_linked, :invalid, :existing_no_linked, :ignored ].each do |status|
    - if @result[status].any?
      %ul.list-group
        %li.list-group-header= tv ".status.#{status}", count: @result[status].count
        - @result[status].each do |data|
          = render 'import_result', pub: (data.is_a?(Array) ? data.first : data), status: status, authors: (data.is_a?(Array) ? data.last : nil)

= link_to fa_icon('long-arrow-left', text: tv('.go_back')), admin_publications_path, class: 'btn btn-default'