- provide :title, tv('.title')
- provide :subtitle, tv('.subtitle')

- if @publications.any?
  %ul.list-group
    = render @publications
- else
  %p.lead.text-center= tv('.empty')

- if @publication_others.any?
  %ul.list-group
    %li.list-group-header= 'Other publications'
    = render @publication_others