<div class="container container-narrow">
  <h1>Contacto</h1>
  <p>
    Una vez enviada su consulta, usted recibirá una respuesta dentro
    de los próximos días en la dirección de correo electrónico ingresada.
  </p>

  <%= render 'form' %>
</div>
