- provide :title, pluralize(@users_count, 'Usuario') + ' además de mí'

%ul.list-group.list-group-users.clearfix
  - if current_user.super_user?
    %h4.list-group-header= 'Usuarios registrados'
  = render @users_accepted

- if current_user.super_user? && @users_not_accepted.any?
  %ul.list-group.list-group-users.clearfix
    %li.list-group-header= 'Usuarios invitados'
    = render @users_not_accepted