- provide :title, I18n.t('views.users.headings.index', count: @users_count)

- @users_accepted.group_by(&:position).each do |position, users|
  %ul.list-group.list-group-users
    - title = position.name.titleize
    - title = title.pluralize_all(:'es-CL') unless position.single?
    %h4.list-group-header= title
    = render users

- if @users_not_accepted.any?
  %ul.list-group.list-group-users
    %h4.list-group-header= I18n.t 'views.users.headings.invited_users'
    = render @users_not_accepted
