@import "showcase"

header[role="main"]
  .jumbotron
    display: flex
    align-items: center

    position: relative
    margin-bottom: 0
    padding: 20px 0
    height: 227px
    background-color: lighten($gray-lighter, 4%)
    border-bottom: solid 1px darken($gray-lighter, 10%)
    color: $text-color

    &.with-banner
      +autosizing-image
      border-bottom: none
      color: whitesmoke

    & > .container
      flex: none

    h1
      margin: 0