header[role="main"]
  .showcase
    +clearfix
    min-width: 970px

  .card
    float: left
    padding: $header-card-spacing-v $header-card-spacing-h
    width: 50%
    background-color: $header-card-bg
    font-family: $font-family-sans-serif-upcase
    text-transform: uppercase

    @for $i from 1 through 2
      $color: nth(($palette1-2, $palette1-3), $i)
      &:nth-child(#{$i})
        background-color: $color
        .card-title
          color: desaturate(lighten($color, 15%), 10%)
        .card-count .footnote
          background-color: $color

    .frame
      position: relative
      margin: 0 auto
      width: 400px

  .card-title,
  .card-count,
  .card-description
    display: block

  .card-count,
  .card-description
    color: white

  .card-title,
  .card-count
    font-weight: $font-weight-bold

  .card-title
    color: desaturate(lighten($header-card-bg, 15%), 10%)

  .card-count
    position: relative
    width: 1.125*$header-card-count-size
    font-size: $header-card-count-size
    line-height: $header-card-count-size

    .footnote
      position: absolute
      right: 0
      bottom: 13px
      padding-top: 8px
      min-width: 65px
      background-color: $header-card-bg
      font-size: 1.1*$base-font-size
      line-height: 1.1*$base-font-size
      text-align: right

  .card-description
    position: absolute
    top: 19px
    left: 1.125*$header-card-count-size + $header-card-spacing-h
    padding: 6px 0
    font-size: 1.5*$base-font-size
    line-height: 1.65*$base-font-size

    a
      display: inline-block
      padding: 6px 24px
      border: solid 1px whitesmoke
      border-radius: 2px
      font-size: $font-size-small
      font-weight: $font-weight-bold
      color: whitesmoke

      &:hover
        text-decoration: none
        background-color: whitesmoke
        color: $header-card-bg