html,
body
  height: 100%

body
  padding-left: $nav-width

  & > .debug_dump
    position: fixed
    right: 5px
    bottom: 5px
    margin-bottom: 0
    max-width: 384px
    max-height: 400px

section[role="content"]
  padding: 20px 0

.widget
  .widget-title
    margin-bottom: 20px
    padding-bottom: 8px
    border-bottom: solid 1px darken($gray-lighter, 10%)
    font-size: 18px
    font-weight: $font-weight-lighter
    text-transform: uppercase
    text-align: center
    color: $gray-light

    .highlight
      color: $gray-default

  .widget-footer
    text-align: right