html,
body
  height: 100%

body
  padding-left: $nav-width

  & > .debug_dump
    position: fixed
    right: 5px
    bottom: 5px
    margin-bottom: 0
    max-width: 384px
    max-height: 400px
    opacity: .25

    &:hover
      opacity: 1

.container
  width: $container-width !important

section[role="content"]
  padding: 60px 0 100px

  section[id]
    margin-bottom: 40px

    &:last-child
      margin-bottom: 0

aside[role="sidebar"]
  & > .container
    padding: 0
    width: 210px !important

    &.affix
      top: 60px

    &.affix-bottom
      position: absolute
      top: auto !important
      bottom: 0

  .divider
    border-top: solid 1px $gray-lighter