.nav[role="navigation"]
  +fixed-at-edges(0, null, 0, 0)
  padding-bottom: 20px
  width: $nav-width
  background-color: $nav-bg
  z-index: 999
  overflow-y: auto

  .nav-brand,
  .user-info
    font-family: $font-family-sans-serif-upcase
    text-align: center

  .nav-brand
    padding: $nav-spacing-v $nav-spacing-h

    & > *
      display: block
      line-height: 1
      font-weight: $font-weight-light
      text-transform: uppercase
      letter-spacing: 1px

    .top
      font-size: 40px
      color: rgba(white, .35)

    .middle
      margin-bottom: 27px * 0.35
      font-size: 27px
      text-transform: none
      letter-spacing: 0
      color: white

    .bottom
      font-size: 21px
      color: desaturate(lighten($nav-bg, 35%), 15%)

  .user-info
    padding: $nav-spacing-v/3 $nav-spacing-h
    color: white

    .user-avatar
      border: 5px solid lighten($nav-bg, 4%)
      &,
      & > img,
      &::before
        border-radius: 50%

    .user-name
      display: block
      padding: 10px 0 12px
      font-size: $font-size-large
      font-weight: bold

    .user-actions
      @extend .list-inline

      a:hover
        color: white

  .nav-footer
    +position-at-edges($bottom: $nav-spacing-h, $left: $nav-spacing-h)
    font-size: 12px
    color: rgba(white, .25)

  .nav-list
    margin: 0
    margin-bottom: 20px
    padding: 0
    list-style: none

    .nav-item,
    .nav-item-link
      display: block
      padding: $base-font-size * .85 $nav-spacing-h
      padding-left: 4*$nav-spacing-h

      font-family: $font-family-sans-serif-upcase
      font-size: $base-font-size
      text-transform: uppercase
      letter-spacing: 1px
      color: whitesmoke

      &:hover
        text-decoration: none

      &.active
        font-weight: $font-weight-bold
        color: white

        &:before
          content: "\f0da"
          +fa-icon
          position: absolute
          margin-top: 2px
          margin-left: -20px

    .nav-item-link
      margin-top: 20px
      background-color: none

      &:hover
        color: white
        background-color: lighten($nav-bg, 5%)

      .fa
        position: absolute
        margin-top: 2px
        margin-left: -25px

    @for $i from 1 through 10
      $amount: 3% - ($i - 1)*2%
      li:nth-child(#{$i}) .nav-item
        +adjust-bg($nav-bg, $amount)

        &:hover
          +adjust-bg($nav-bg, $amount - 5%)

  .nav-list-alt
    list-style: none
    text-align: center

    &, li
      margin: 0
      padding: 0

    li
      display: inline-block
      margin-right: 5px

      &:last-child
        margin-right: 0

      & > a
        display: block
        padding: 5px 10px
        color: desaturate(lighten($nav-bg, 10%), 10%)
        text-decoration: none

        .fa
          display: block
          margin-bottom: 4px
          font-size: 2*$base-font-size
          line-height: 2*$base-font-size

        &:hover,
          color: white

        &.active
          color: whitesmoke

.nav-date
  font-size: 12px
  line-height: 20px
  font-weight: $font-weight-bold

  & > li
    & + li
      margin-left: 0

    & > a
      padding: 5px
      border: solid darken($gray-lighter, 10%)
      border-width: 1px 1px 1px 0
      border-radius: 0
      text-transform: uppercase
      color: lighten($text-color, 15%)

      &:hover
        color: $link-hover-color

    &.current > a
      color: $text-color
      background-color: darken($gray-lighter, 5%)

    &.active > a,
    &.active > a:hover
      color: white
      background-color: $link-color
      border-color: $link-color

    &.disabled > a
      color: $text-muted

    &:first-child > a
      border-left-width: 1px
    &:first-child > a
      border-radius: 16px 0 0 16px
    &:last-child > a
      border-radius: 0 16px 16px 0
