.stat
  display: inline-block

.stat-block
  display: block

.stat-number
  display: block
  font-size: 3*$base-font-size
  line-height: 3*$base-font-size

.stat-label
  text-transform: uppercase
  color: darken($text-muted, 15%)