// @import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300")
@import url("http://fonts.googleapis.com/css?family=Ubuntu:300,400")

body
  font-family: $base-font-family
  font-weight: $base-font-weight
  color: $text-color
  +antialiased

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  font-family: $headings-font-family
  font-weight: $headings-font-weight
  line-height: $headings-line-height
  color: $headings-color

  &:first-child
    margin-top: 0

p:last-child
  margin-bottom: 0