@import "site/colors";

/*
 * Layout;
 */
$container-width:                          856px;

/*
 * Base styling;
 */
$body-bg:                                  white;
$text-color:                               $gray-dark;

$link-color:                               $brand-primary;

/*
 * Typography;
 */
$font-family-sans-serif:                   -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif !default;

$font-size-base:                           16px;

$font-weight-lighter:                      100;
$font-weight-light:                        300;
$font-weight-regular:                      400;
$font-weight-bold:                         700;

$headings-font-weight:                     $font-weight-light;
$headings-line-height:                     1.25;

/*
 * Navigation;
 */
$nav-bg:                                   $palette1-2;

/*
 * Header;
 */
$header-card-bg:                           $palette1-2;
$header-card-spacing-h:                    20px;
$header-card-spacing-v:                    40px;
$header-card-count-size:                   128px;

@import "bootstrap/variables";
