@import "site/variables";

.badge {
  vertical-align: baseline;
}

.badge-primary {
  background-color: $brand-primary;
}

.badge-success {
  background-color: $brand-success;
}

.badge-info {
  background-color: $brand-info;
}

.badge-warning {
  background-color: $brand-warning;
}

.badge-danger {
  background-color: $brand-danger;
}

.badge-outline {
  background: none;
  color: $badge-bg;
  border: solid 1px $badge-bg;
}

.badge-outline-primary {
  @extend .badge-outline;
  color: $brand-primary;
  border-color: $brand-primary;
}
