@import "site/variables";

.btn {
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 2px;
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.btn-unstyled {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
// .btn-lg
//   border-radius: 4px
// .btn-outline
//   color: #563d7c
//   background-color: #fff
//   border-color: #e5e5e5
// .btn-outline:hover,
// .btn-outline:focus,
// .btn-outline:active
//   color: #fff
//   background-color: #563d7c
//   border-color: #563d7c
// .btn-outline-inverse
//   color: white
//   background-color: transparent
//   border-color: rgba(white, .65)
// .btn-outline-inverse:hover,
// .btn-outline-inverse:focus,
// .btn-outline-inverse:active
//   color: $base-color-text
//   text-shadow: none
//   background-color: white
//   border-color: white
// .btn-group
//   & > .btn-link
//     float: none
//     padding: 0
//     &,
//     &:hover
//       text-decoration: none
//   &.open > .btn-link
//     text-decoration: none
//     @include box-shadow(none)
// a.facebook
//   background-color: #3b5998 !important
