.dropdown-menu {
  .fa {
    width: 16px;
    margin-right: 2px;
    font-size: 16px;
    text-align: left;
  }
}

/* bootstrap: force menu rounded corners in navbar */
.open > .dropdown-menu {
  border-radius: 4px;
}
