@import "site/variables"

footer[role="main"]
  padding-top: 40px
  padding-bottom: 30px
  background-color: $body-bg
  border-top: 1px solid $gray-lighter

  .lastest-items
    .media-heading
      font-size: 18px
    .media-subheading
      font-size: 14px
    img.media-object
      width: 28px
      padding-bottom: 28px

  .copyrightinfo
    font-size: $font-size-base - 1px
    color: $text-muted

.footer-heading
  text-transform: uppercase
  color: $brand-primary
