.gr-footer
  padding-top: 40px
  padding-bottom: 30px
  color: lighten($gray, 13%)
  background-color: $base-bg
  border-top: 1px solid $gray-lighter

  .gr-footer-heading
    margin: $padding-large-vertical * 3 0 $padding-large-vertical * 2
    font-weight: $font-weight-light
    text-transform: uppercase
    letter-spacing: 1px
    color: $base-color-text

    &:first-child
      margin-top: 0

  .list-group-item
    margin-bottom: $padding-large-vertical
    padding: 0
    border: none

    &:last-child
      margin-bottom: 0

  a
    display: inline-block

  & > *:last-child
    margin-bottom: 0