@import "site/variables";

.img-avatar {
  display: inline-block;
  position: relative;

  &::before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -($img-frame-padding + $img-frame-width);
    left: -($img-frame-padding + $img-frame-width);
    right: -($img-frame-padding + $img-frame-width);
    bottom: -($img-frame-padding + $img-frame-width);
    border: $img-frame-width solid $gray-lighter;
    border-radius: 50%;
  }

  img {
    border-radius: 50%;
  }
}

.banner {
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 450px;
  }

  &::before {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.65;
    z-index: -2;
  }

  &::after {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 15%,rgba(255,255,255,1) 100%);
    z-index: -1;
  }
}
