@import "site/variables"

.widget
  margin-bottom: 40px

  &:last-child
    margin-bottom: 0

  .widget-title
    margin-bottom: 20px
    padding-bottom: 8px
    border-bottom: solid 1px darken($gray-lighter, 10%)
    font-size: 18px
    font-weight: $font-weight-lighter
    text-transform: uppercase
    text-align: center
    color: $gray-light

    .highlight
      color: $brand-primary

  h3
    font-size: 1.25*$font-size-base
    line-height: 1.2*1.25*$font-size-base

  h4
    font-size: 1.1*$font-size-base
    line-height: 1.1*$font-size-base

  .widget-footer
    text-align: center

  .media-meta
    font-weight: $font-weight-bold

  // Moment widget
  .moment-meta
    margin-top: 15px
    padding: 0
    background-color: transparent
    border: none
    border-radius: 0
