@import "site/variables"

html,
body
  height: 100%

section[role="content"]
  padding: 60px 0 100px

  section[id]
    margin-bottom: 40px

    &:last-child
      margin-bottom: 0

  & > .jumbotron
    position: relative
    top: -60px

aside[role="sidebar"]
  & > .container
    padding: 0
    width: 210px !important

    &.affix
      top: 60px

    &.affix-bottom
      position: absolute
      top: auto !important
      bottom: 0

  .divider
    border-top: solid 1px $gray-lighter
