@import "site/variables";

// a {
//   transition-property:                     color, background-color;
//   transition-timing-function:              ease-in-out;
//   transition-duration:                     .2s;
// }

a.disabled,
.disabled > a {
  pointer-events: none;
}

a.link-unstyled {
  &,
  &:active
  &:focus
  &:hover,
  &:visited {
    color: $text-color;
    text-decoration: none;
  }
}
