@import "site/variables";

// a {
//   transition-property:                     color, background-color;
//   transition-timing-function:              ease-in-out;
//   transition-duration:                     .2s;
// }

a.active,
.active > a,
a.disabled,
.disabled > a,
.disabled > a * {
  pointer-events: none;
}

a.link-block {
  display: inline-block;

  p:last-child {
    margin-bottom: 0;
  }
}

a.link-unstyled {
  &,
  &:active
  &:focus
  &:hover,
  &:visited {
    color: $text-color;
    text-decoration: none;
  }
}

a.text-muted {
  &:focus,
  &:hover {
    color: $text-muted;
    text-decoration: none;
  }
}
