ul > li > .btn
  margin-bottom: 4px

.list-flex
  padding-left: 0
  list-style: none

  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: flex-start

  & > *
    flex: 1

.list-col
  @extend .list-flex

  & > *
    margin: 20px 20px 0 0

    &:last-child
      margin-right: 0

  &.list-col-2
    & > *
      flex-basis: calc(50% - 20px)
      max-width: 50%

      &:nth-child(-n+2)
        margin-top: 0

      &:nth-child(2n)
        margin-right: 0

  &.list-col-3
    & > *
      flex-basis: calc(33% - 20px)
      max-width: 50%

      &:nth-child(-n+3)
        margin-top: 0

      &:nth-child(3n)
        margin-right: 0

  &.list-col-4
    & > *
      flex-basis: calc(25% - 20px)
      max-width: 50%

      &:nth-child(-n+4)
        margin-top: 0

      &:nth-child(4n)
        margin-right: 0

.list-inline.list-inline-condensed
  margin-left: 0

  & > li
    padding-right: 0
    padding-left: 0

.list-inline
  &[class*="list-sep-"]
    @extend .list-inline-condensed

    & > li
      display: inline

    & > li:last-child::after
      content: none

  &.list-sep-comma > li::after
    content: ','

  &.list-sep-semicolon > li::after
    content: ';'

