@import "site/variables";

.media {
  display: flex;
  align-items: center;
  font-size: $font-size-base;
  line-height: $line-height-computed;

  a {
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 0;
  }

  .separator {
    display: block;
    height: $font-size-base * 0.35;
  }
}

.media-body {
  flex: 1;
  margin-left: 20px;
}

.media-meta {
  color: $text-muted;
  font-size: $font-size-small;

  em,
  strong {
    color: $text-color;
  }

  em {
    font-style: normal;
  }
}

.media-list {
  padding-left: 0;
  list-style: none;

  & > li {
    margin-top: 40px;
    flex-grow: 1;

    &:first-child {
      margin-top: 0;
    }
  }
}

.media-list-two-column {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;

  & > li {
    max-width: calc(50% - 10px);
    width: calc(50% - 10px);

    &:nth-child(2) {
      margin-top: 0;
    }

    &:nth-child(even) {
      margin-left: 20px;
    }
  }
}
