@import "common/mixins";
@import "site/variables";

.navbar {
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: $nav-bg;
}

.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.navbar-brand {
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
  text-transform: uppercase;

  &,
  &:focus,
  &:hover,
  &:visited {
    color: darken($palette1-2, 10%);
    text-decoration: none;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;

  & > li {
    padding: 5px 0;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    &.active {
      & > a {
        color: darken(white, 5%);
      }
    }

    & > a {
      padding: 0;
      color: desaturate(lighten($nav-bg, 15%), 20%);
      font-weight: $font-weight-bold;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: darken(white, 5%);
        text-decoration: none;
      }
    }
  }
}

.navbar-nav--block {
  width: 100%;
}

.navbar-nav--icons {
  padding: 0;

  & > li {
    margin-left: 10px;
    padding: 0;
    border: none;

    &:first-child {
      margin-left: 0;
    }

    & > a > .fa {
      width: $font-size-base * 2; // 32px
      font-size: $font-size-base * 1.5; // 24px
      text-align: center;
    }
  }

  .fa-newspaper-o {
    padding-top: 3px;
  }
}
