.sidebar-post
  background-color: $sidebar-post-bg
  color: $sidebar-post-color

  &:before
    content: ''
    position: absolute
    top: $sidebar-header-height
    bottom: 0
    left: $sidebar-padding-horizontal + $sidebar-post-gutter*.25
    width: 2px
    background-color: $sidebar-post-border

  .sidebar-header
    background-color: $sidebar-post-brand

  .sidebar-brand
    background-color: $sidebar-post-brand
    color: $sidebar-post-link-color

  .sidebar-nav
    position: fixed
    top: $sidebar-header-height
    bottom: 0
    width: $sidebar-fixed-width
    overflow: auto

  & li
    & > a
      position: relative
      display: block
      padding: $sidebar-padding-vertical $sidebar-padding-horizontal
      padding-left: $sidebar-padding-horizontal + $sidebar-post-gutter
      background-color: $sidebar-post-bg
      color: $sidebar-post-color

      &:hover
        background-color: $sidebar-post-hover-bg
        color: $sidebar-post-hover-color

      &.active
        background-color: $sidebar-post-active-bg
        color: $sidebar-post-active-color

        .text-muted
          color: $sidebar-post-color

        &:after
          content: "\f017"
          margin-top: -2px
          margin-left: -2px
          height: $font-size-icon
          background-color: $sidebar-post-active-bg
          border-radius: 0
          +fa-icon

      &:before
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: $sidebar-padding-horizontal + $sidebar-post-gutter*.25
        width: 2px
        background-color: $sidebar-post-border

      &:after
        content: ''
        position: absolute
        top: $sidebar-padding-vertical * 1.5
        left: $sidebar-padding-horizontal + $sidebar-post-gutter*.25 - $sidebar-post-point-size/2 + 1px
        width: $sidebar-post-point-size
        height: $sidebar-post-point-size
        border-radius: $sidebar-post-point-size/2
        background-color: $sidebar-post-color

    &:first-child > a:before
      top: $sidebar-padding-vertical * 1.5

  time
    font-size: $font-size-smaller
    line-height: $font-size-smaller
    font-weight: $font-weight-bold
    text-transform: uppercase

  .post-title
    font-size: $font-size-large
    line-height: $font-size-large
    color: $sidebar-post-title-color

  .post-excerpt
    font-family: $font-family-serif
    font-size: $font-size-normal
    line-height: $font-size-normal * 1.4

    .text-muted
      color: darken($sidebar-post-color, 10%)