@import "site/variables"
@import "common/mixins"

body
  +antialiased

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  hyphens: none

  &:first-child
    margin-top: 0

h1, .h1
  .subheading
    display: block
    margin-top: 5px

article > .content
  font-size: $font-size-content
  line-height: $line-height-content-computed

  h1
    margin-bottom: 35px

  & > *:last-child
    margin-bottom: 0

  & > img
    width: 100%
    border-radius: 5px

time[title]
  cursor: help
  border-bottom: 1px dotted $gray-light

.text-color
  color: $text-color

.control-label:first-letter
  text-transform: capitalize
