%li.moment
  = link_to moment.permalink, class: 'link-block link-unstyled' do
    = image_tag moment.photo.url(:medium), class: 'moment__photo'
    .moment__body
      - if moment.caption.present?
        %p.moment__caption= moment.caption
      %small.text-muted Publicada el #{moment.time_tag}
