%li.moment
  = link_to moment.permalink, class: 'link-block link-unstyled' do
    = image_tag moment.photo.url(:medium)
    .moment-body
      - if moment.caption.present?
        %p.caption= moment.caption
      %footer
        %small.text-muted
          Publicada el
          = moment.time_tag
