.container
  %header
    %h1 Momentos

  %section#moments
    - if moments.any?
      %ul.list-flex.list-flex-col.list-flex-col-3
        = render moments
    - else
      %p.lead.text-muted.text-center
        Oops... no hay momentos para mostrar
