.container.container-narrow
  %header
    %h1 Momentos
    %p.lead
      - if moment.caption.present?
        = moment.caption
        %br
      %small.text-muted
        Publicada el #{moment.time_tag}

  %section#moment
    = image_tag moment.photo, class: 'img-thumbnail'

  %hr

  .text-center
    = btn_to 'Volver a Momentos', moments_path
